body {
  width: 500px;
}

input[type=password], input[type=text] {
  width: 100%;
}

#lock-btn {
  float: right;
}

#search-txt {
  overflow: hidden;
}

ul {
  /* list-style-position: inside; */
  padding: 0px;
}

li.item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#number-txt {
  display: inline;
  width: 50px;
}
